*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 10px;
    position: relative;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

aside h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3rem;
}


main img {
    width: 150px;
    height: auto;
    float: right;
}

nav {
    background-color: grey;
    color: white;
    padding: 20px;
    display: block;
}

nav a {
    color: #333;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

h1 {
    color: steelblue;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box{
    border: 1px solid #b71234;
    padding: 3rem;
    background-color: #cccacc;
    color: black;
    margin: 1rem;
}